[defaults]
inventory = aws_ec2.yml
host_key_checking = False
timeout = 30
# Le decimos a Ansible dónde buscar la clave maestra para desencriptar en vuelo
vault_password_file = .vault_password

[inventory]
enable_plugins = aws_ec2
